
<div class="container">
    <h2>Edit Book</h2>
    <div ng-controller="editbookcontroller">
        <form name="newbook" novalidate class="form-horizontal" role="form">
            <input name="id" type="text" ng-model="id" style="display:none">
            <div class="form-group">
                <label class="control-label col-sm-2" for="bookname">Book Name:</label>
                <div class="col-sm-10">
                    <input name="bookname" type="text" ng-model="book.bookname" required class="form-control" placeholder="Enter Book Name" autocomplete="off">
                    <span style="color:red" ng-show="newbook.bookname.$dirty && newbook.bookname.$invalid">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="authorname">Author Name:</label>
                <div class="col-sm-10">

                    <input name="authorname" type="text" ng-model="book.authorname" required class="form-control" placeholder="Enter Author Name" autocomplete="off">
                    <span style="color:red" ng-show="newbook.authorname.$dirty && newbook.authorname.$invalid">
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="serialno">Book's Serial No:</label>
                <div class="col-sm-10">

                    <input name="serialno" type="text" ng-model="book.serialno" length="100" required class="form-control" placeholder="Enter Book's Serial No" autocomplete="off">
                    <span style="color:red" ng-show="newbook.serialno.$dirty && newbook.serialno.$invalid">

                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="description">Description:</label>
                <div class="col-sm-10">

                    <textarea name="description" type="text" ng-model="book.description" length="250" class="form-control" placeholder="Enter Description" autocomplete="off"> </textarea>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-disabled="newbook.bookname.$dirty && newbook.bookname.$invalid ||
			  newbook.authorname.$dirty && newbook.authorname.$invalid ||
			  newbook.serialno.$dirty && newbook.serialno.$invalid"
                         class="btn btn-success"   ng-click="editbook(book)">
                        Edit
                    </button>
                    <button  class="btn btn-info" ng-click="closebook()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

